// WooCommerce default variables based on WooCommerce Sass
$primary = #a46497
$primarytext = #fff

$secondary = #f7f6f7
$secondarytext = #515151

// Project variables
$one-click-buy-option-paddding = 20px

// Screen large size
$screen-lg = 992px
