fieldset
  > label
    > .preloader
      margin-right: 6px;
      vertical-align: text-top

fieldset
  > .preloader
    margin-left: 5px
    vertical-align: -webkit-baseline-middle
    vertical-align: -moz-middle-with-baseline