#webhook-status-section

  #asaas-webhook-status,
  #asaas-webhook-status-queue

  #asaas-webhook-status
    td
      .webhook-status-action
        display: flex
        align-items: center

#webhook-reenable-action
  display: flex