.webhook-desc-content
    margin: 0
    padding: 0
    list-style: none

    li
        &:first-child
            margin 15px 0
        &:nth-last-child(2)
            display: flex
            margin 15px 0

.reenable-queue
    display: flex
    align-items: center

    .preloader
        margin-right: 5px
        vertical-align: text-bottom

.reenable-message
    margin-left: 5px
    min-height: 30px
    line-height: 2

.preloader
    vertical-align: middle

.apikey-message
    margin-left: 5px;
    vertical-align: -webkit-baseline-middle;